GEMINI_API_KEY=

MODEL_NAME=models/gemini-flash-latest

EMBEDDING_MODEL=models/gemini-embedding-001

MONGODB_URI=mongodb+srv://pranjulshukla2560_db_user:0iAXRGX7abADtr1B@full-rag.rm7osjw.mongodb.net/?retryWrites=true&w=majority&appName=full-rag

DATABASE_NAME=full_rag






